
@using Microsoft.AspNetCore.Identity
@using LetsPlay.Models
@using LetsPlay.Models.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LetsPlay.Models.ViewModels.SignupViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    bool isSignedUp = false;
}

<h2>Details</h2>
<div>
    <h2>@Html.DisplayFor(model => Model.Post.Title)</h2>
    <p>@Html.DisplayFor(model => Model.Post.Description)</p>
    <p> @Html.DisplayFor(model => Model.Post.PostedDate)</p>
    <p>@Html.DisplayFor(model => Model.Post.Type)</p>
    <p>@Html.DisplayFor(model => Model.Post.Category)</p>
    <p>@Html.DisplayFor(model => Model.Post.Game)</p>
    <p>@Html.DisplayFor(model => Model.Post.EventDate)</p>
    <p>@Html.DisplayFor(model => Model.Post.Type)</p>

    <p>Player's Signedup:</p>
    @foreach (var user in Model.SignUps)
    {
        <a href="/users/@user.Username">@user.Username</a>
        if (user.Username == SignInManager.UserManager.GetUserName(User))
        {
            isSignedUp = true;
        }
    }

    @if (SignInManager.IsSignedIn(User))
    {
        if (!isSignedUp)
        {
            <form asp-controller="Post" asp-action="SignUpForEvent">
                <input type="hidden" name="Username" value="@SignInManager.UserManager.GetUserName(User)" />
                <input type="hidden" name="PostID" value="@Model.Post.ID" />
                <button type="submit">Join Event</button>
            </form>
        }
        else
        {
            <form asp-controller="Post" asp-action="RemoveSignUpForEvent">
                <input type="hidden" name="userName" value="@SignInManager.UserManager.GetUserName(User)" />
                <input type="hidden" name="postID" value="@Model.Post.ID" />
                <button type="submit">Remove Me</button>
            </form>
        }
    }
    else
    {
        <p><a asp-controller="Account" asp-action="Login">Login</a> or <a asp-controller="Account" asp-action="Register">Register</a> to start playing games.</p>
    }
    <ul id="messagesList" style="height: 350px; overflow: scroll;">
        @foreach (var item in Model.Comments)
        {
            <li>@Html.DisplayFor(modelItem => item.Username): @Html.DisplayFor(modelItem => item.Message)</li>
        }
    </ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" id="sendComment">
            <input class="form-control" id="userInput" type="hidden" value="@SignInManager.UserManager.GetUserName(User)" />
            <input type="hidden" value="@Model.Post.ID" id="postID" />
            <label class="control-label"></label>
            <input class="form-control" id="messageInput" autocomplete="off" />
            <input type="submit" value="Send Message" />
        </form>
    }
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>
