
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@model IEnumerable<LetsPlay.Models.Post>

<h2 class="postTitle">All Activities:</h2>

<div>
    <div class="contentInnerWrapper">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Details" asp-route-id="@item.ID" asp-controller="Post"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Game)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="cardHost">Hosted By: <a href="/users/@item.Username" class="card-link">@Html.DisplayFor(modelItem => item.Username)</a></div>
                </div>
            </div>
        }
    </div>
</div>