@using LetsPlay.Models
@using Microsoft.AspNetCore.Identity;
@model LetsPlay.Models.GeneralChat
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "ChatRoom";
    Layout = "_Layout";
}
<h1>Chat Away!</h1>

<ul id="messagesList">
    @foreach (var item in ((List<GeneralChat>)ViewBag.GeneralChat))
    {
        if (item.User == @SignInManager.UserManager.GetUserName(User).ToString())
        {
            <li class="myMessage">@Html.DisplayFor(modelItem => item.User): @Html.DisplayFor(modelItem => item.Message)</li>
        }
        else
        {
            <li>@Html.DisplayFor(modelItem => item.User): @Html.DisplayFor(modelItem => item.Message)</li>
        }
    }
</ul>

@if (SignInManager.IsSignedIn(User))
{
    <input value="@SignInManager.UserManager.GetUserName(User)" type="hidden" id="currentUser"/>
    <form method="post" id="sendButton">
        <input asp-for="User" class="form-control" id="userInput" type="hidden" value="@SignInManager.UserManager.GetUserName(User)" />

        <label asp-for="Message" class="control-label"></label>
        <input asp-for="Message" class="form-control" id="messageInput" autocomplete="off" />
        <input class="btn mt-2" type="submit" value="Send Message" />
    </form>
}
else
{
    <p>You are not logged in.</p>
    <a href="/account/login">Log In</a>
    <a href="/account/register">Register</a>
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>