@using LetsPlay.Models
@using Microsoft.AspNetCore.Identity;
@model LetsPlay.Models.GeneralChat
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<h1>Let's Play!!!</h1>
@foreach(var item in (List<ApplicationUser>)ViewBag.Friends)
{
    <a href="/users/@Html.DisplayFor(modelItem => item.UserName)">@Html.DisplayFor(modelItem => item.UserName)</a>
}

<div>
    <h2>New Postings</h2>
    @foreach (var item in (List<Post>)ViewBag.Posts)
    {
        <div>
            <a asp-action="Details" asp-route-id="@item.ID" asp-controller="Post"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    }
</div>

<ul id="messagesList" style="height: 350px; overflow: scroll;">
    @foreach (var item in ((List<GeneralChat>)ViewBag.GeneralChat))
    {
        <li>@Html.DisplayFor(modelItem => item.User): @Html.DisplayFor(modelItem => item.Message)</li>
    }
</ul>

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" id="sendButton">
        <input asp-for="User" class="form-control" id="userInput" type="hidden" value="@SignInManager.UserManager.GetUserName(User)" />

        <label asp-for="Message" class="control-label"></label>
        <input asp-for="Message" class="form-control" id="messageInput" autocomplete="off"/>
        <input type="submit" value="Send Message" />
    </form>
}
else
{
    <p>You are not logged in.</p>
    <a href="/account/login">Log In</a>
    <a href="/account/register">Register</a>
}



@*<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>*@
@*<div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>*@
@*</div>
    </div>*@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>