@using LetsPlay.Models
@using Microsoft.AspNetCore.Identity;
@model LetsPlay.Models.GeneralChat
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<div class="topBanner" >
    <img class="logo" src="~/img/logo.png" />
</div>

<div class="homeContent">

    <div>
        <h2>New Postings</h2>
        @foreach (var item in (List<Post>)ViewBag.Posts)
        {
            <div>
                <a asp-action="Details" asp-route-id="@item.ID" asp-controller="Post"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        }
    </div>

    <ul id="messagesList" style="height: 350px; overflow: scroll;">
        @foreach (var item in ((List<GeneralChat>)ViewBag.GeneralChat))
        {
            <li>@Html.DisplayFor(modelItem => item.User): @Html.DisplayFor(modelItem => item.Message)</li>
        }
    </ul>

    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" id="sendButton">
            <input asp-for="User" class="form-control" id="userInput" type="hidden" value="@SignInManager.UserManager.GetUserName(User)" />

            <label asp-for="Message" class="control-label"></label>
            <input asp-for="Message" class="form-control" id="messageInput" autocomplete="off"/>
            <input type="submit" value="Send Message" />
        </form>
    }
    else
    {
        <p>You are not logged in.</p>
        <a href="/account/login">Log In</a>
        <a href="/account/register">Register</a>
    }

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

</div>